.emailList{
    flex:1;
    overflow:scroll;
}
.emailList-settings{
    display:flex;
    justify-content: space-between;
    position:sticky;
    top:0px;
    border:1px solid whitesmoke;
    background:white;
}