.email-row{
    display:flex;
    align-items: center;
    height:50px;
    border-bottom: 1px solid whitesmoke;
    cursor:pointer;
    z-index:999;
}

.email-row:hover{
    border-top:1px solid whitesmoke;
    box-shadow: 0px 4x 4px -2px rgba(0,0,0,0.24);
}
.email-row-options{
    display:flex;
    flex:0.8;
    align-items: center;
    font-size:13px;
}

.email-row-message > h4{
    width:400px;
    white-space: nowrap;
    overflow:hidden;

    text-overflow: ellipsis;
    padding-left:5px;
    padding-right:5px;
}
.email-row-time{
    padding-right:15px;
    font-size:9px;
    font-weight: bold;
}
.email-row-description{
    font-weight:400;
    color:grey;
}