.emailList{
    flex:1;
    overflow:scroll;
}
.emailList-settings{
    display:flex;
    justify-content: space-between;
    position:sticky;
    top:0px;
    border:1px solid whitesmoke;
    background:white;
    z-index:999;
    padding-right:10px;
    
}

.emailList-sections{
    position:sticky;
    top:0px;
    display:flex;
    background-color:white;
    border-bottom:1px solid whitesmoke;
    z-index:999;


}