.header-left > img{
    Object-fit:contain;
    height:80px;
    margin-left:5px;

}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid whitesmoke;
}
.header-left{
    display:flex;
    align-items:center;
}
.header-middle{
    display:flex;
    align-items:center;
    flex:0.7;
    background:whitesmoke;
    padding:10px;
    border-radius:5px;
}
.header-middle >.MuiSvgIcon-root{
    color:grey;

}
.header-middle > input {
    border:none;
    outline:none;
    width:100%;
    padding:10px;
    background-color:transparent;
}
.header-right{
    display:flex;
    align-items: center;
    padding-right:20px;
}