.mail{

    flex:1;
    background-color: whitesmoke;
}

.mail-tools{

   display:flex;
   justify-content: space-between; 
   background-color: white;
}
.mail-tools-left{
    display:flex;

}
.mail-body{
    display:flex;
    flex-direction: column;
    margin:30px;
    background-color: white;
    padding:20px;
    height:100vh;
    
}