.section {
    display:flex;
  align-items:center;
  justify-content: center;
  min-width:200px;
  padding:5px;
  cursor:pointer;
  color:grey;
  border-width: 0 !important;
}

.section-selected{
    background-color: whitesmoke;
    border-width: 3px !important;
}

.section:hover{
    background-color: whitesmoke;
    border-width: 3px !important;

}
.section>h4{
    font-weight:500;
}