.send-mail{
    position:absolute;
    bottom:0px;
    right:50px;
    background-color: #404040;
    width:40%;
    height:40%;
    max-width:500px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    display:flex;
    flex-direction: column;
}

.send-mail-header{
    padding:3px 30px;
    flex:0.1;
    font-size:14px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:grey;
}

.send-mail-btn{
    background-color:#3879ed !important;
    text-transform: capitalize !important;
    margin:15px !important;
    color:white !important;
}

.send-mail >form {
    display:flex;
    flex:1;
    flex-direction:column;

}

.send-mail >form > input {
    
    height:30px;
    padding:10px;
    border:none;
    border-bottom :1px solid whitesmoke;
    outline:none;
}

.send-mail-message{

    flex:2;
}
.send-mail-error{
    background:white;
    color:red;
    text-align:right;
    padding:2px;
    margin:0;
    
}