.send-mail{
    position:absolute;
    bottom:0px;
    right:50px;
    background-color: #404040;
    width:40%;
    height:40%;
    max-width:500px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
}

.send-mail-header{
    padding:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:grey;
}

.send-mail-btn{
    background-color:#3879ed !important;
    text-transform: capitalize !important;
    margin:15px !important;
}