.sidebar-option{
    display:flex;
    align-items:center;
    height:48px;
    padding:0 10px;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    cursor:pointer;
    color:grey;

}
.sidebar-option >h3{
    flex:1;
    margin-left:10px;
    font-size:14px;
    font-weight:400;
    
}
.sidebar-option > p{
    display:none;
    font-weight:300px;
}